@import "variables";

span + span {
    margin-left: 10px;
}

.actors, empty-illustration {
    grid-column: 1/10;

    @include media("<=wide") {
        grid-column: 1/13;
    }
}

.actors {
    margin-top: 50px;

    img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    td {
        vertical-align: middle;
        white-space: pre;
    }

    .remove {
        font-size: 1.5em;
        padding: 0 50px;

        &:hover sp-icon-close {
            color: indianred;
        }
    }

    tr.hover {
        background-color: var(--spectrum-table-m-regular-quiet-row-background-color-hover, var(--spectrum-alias-highlight-hover));
    }
}

[transition-group-item] {
    transition-timing-function: var(--spectrum-global-animation-linear);
}

.flip-list-move {
    transition: transform .1s;
}

.flip-list-move1 {
    transition: transform .3s;
}

.flip-list-move2 {
    transition: transform .6s;
}

.flip-list-move3 {
    transition: transform .9s;
}

.flip-list-move4 {
    transition: transform 1.2s;
}

.flip-list-move5 {
    transition: transform 1.5s;
}

.flip-list-move6 {
    transition: transform 1.8s;
}

